/* Table des matières de la feuille de styles pour cv.oc 
    couleurs    
    --first-color: #2196F3
    --second-color: #FFB300
    --background-color: #212121
    --main-color: #ECEFF1
    source : https://www.materialui.co/colors

    1. General
    2. Header
    3. A propos
    4. Formations / Expériences
    5. Recommandations
    6. Loisirs
    7. Responsive
Auteur : sylvain gemieux alias syl20pro */

/* General */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap');


#bloc-page {
  width: auto;
  height: 1080px;
  background-color: #212121;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    color: #212121;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
}

p{
    font-size: 15px;
    margin: 8px 0;
    color: #212121;
}

.bold-text {
    font-weight: 500;
}

.main-content{
    display: flex;
    flex-direction: column;
    background-color: #ECEFF1;
    width: 800px;
}

.items-yellow {
    color: #2196F3;
}

.mini-text {
    font-size: small;
    font-weight: 400;
}

.mini-text-strong {
    font-size: small;
    font-weight: 500;
}

/* Header */

header {
    background-color: #ECEFF1;
}

.name {
    color: #2196F3;
    font-weight: 500;
}

.surname {
    font-weight: lighter;
}

.name-underline {
    text-decoration: underline #2196F3;
}
.photo-profil {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.photo-profil img {
    width: 150px;
    display: flex;
    border: 2px solid #2196F3;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.main-title {
    display: flex;
    flex-direction: row;
}

.main-content h2 {
    border-bottom: 1px solid #2196F3;
    margin: 0 20px;
    color: #212121;
    margin: 0 20px;
}

/* A propos */

.section-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2196F3;
    text-align: justify;
    max-width: 300px;
}

.section-infos h2 {
    text-align: center;
    color: #2196F3;
    background-color: #FFB300;
    margin: 10px 0px;
    padding: 6px 0;
}

.section-infos ul li {
    margin: 15px;
    list-style-type: none;
}
.about-content {
    padding: 30px;
    height: 160px;
    font-size: small;
}

.icons-hobbies {
    display: flex;
    justify-content: space-around;
}

/* Formations / Expériences */

.main-content h3 {
    font-size: 2em;    
    font-weight: lighter;
}

.main-content h2 i {
    margin-right: 25px;
}

.main-content i {
    color: #2196F3;
}

.main-content p i {
    width: 12px;
    margin-right: 10px;
}

.main-content .fa-dot-circle,
.main-content .fa-circle {
    font-size: 10px;
}

.main-content .date-city {
    margin-left: 28px;
}

.main-content ul li h3 {
    list-style-type: none;
}

.resume-description {
    width: 70%;
}

/* Recommandations */

.flex-reco {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reco {
    display: flex;
    width: 300px;
    height : 120px;
    align-items: center;
}

.recom-desc {
    padding-bottom: 20px;
}

.recom-desc i {
    color: #2196F3;
    margin-right: 25px;
}

/* Loisirs */

.icons-hobbies .container {
    display: flex;
    justify-content: space-evenly;
}

.icons-hobbies li {
    color: #FFB300;
    border: 3px solid #FFB300;
    border-radius: 50%;
    padding: 20px 16px;
}
/* Responsive */


/* Fin */