/* Table des matières de la feuille de styles pour cv.oc 
    1. General
    2. Header
    3. A propos
    4. Formations / Expériences
    5. Recommandations
    6. Loisirs
    7. Responsive
Auteur : sylvain gemieux alias syl20pro */

/* General */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap');

*{
    box-sizing: border-box;
    --first-color: #FF5722;
    --second-color: #404040;
    --background-color: #212121;
    --main-color: #FAFAFA;
}

#bloc-page {
  width: auto;
  height: 1080px;
  background-color: var(--background-color);
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    color: var(--background-color);
}

.container {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 15px;
    margin: 8px 0;
    color: var(--background-color);
}

.bold-text {
    font-weight: 500;
}

.main-content{
    background-color: var(--main-color);
}

.items-yellow {
    color: var(--first-color);
}

/* Header */

header {
    background-color: var(--main-color);
}

.title h1, h2 {
    margin: 0 15px;
}

.name {
    color: var(--first-color);
    font-weight: 500;
}

.surname {
    font-weight: lighter;
}

.name-underline {
    text-decoration: underline var(--first-color);
}
.photo-profil {
    padding: 40px;
}

.photo-profil img{
    width: 150px;
    display: block;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
}

.main-content h2 {
    border-bottom: 1px solid var(--first-color);
    margin: 0 20px;
    color: var(--background-color);
    margin: 0 20px;
}

/* A propos */

.aside-infos {
    background-color: var(--first-color);
    text-align: justify;
}

.aside-infos h2 {
    text-align: center;
    color: var(--first-color);
    background-color: var(--second-color);
    margin: 10px 0px;
    padding: 6px 0;
}

.aside-infos ul li {
    margin: 15px;
}

.icons-hobbies {
    align-content: center;
}

/* Formations / Expériences */

.main-content h3 {
    font-size: 800;    
    font-weight: lighter;
}

.main-content h2 i {
    margin-right: 25px;
}

.main-content i {
    color: var(--first-color);
}

.main-content p i {
    width: 12px;
    margin-right: 10px;
}

.main-content .fa-dot-circle,
.main-content .fa-circle {
    font-size: 10px;
}

.main-content .date-city {
    margin-left: 28px;
}

.main-content ul li h3 {
    list-style-type: none;
}

.resume-description {
    width: 70%;
}

/* Recommandations */

.recom-desc {
    padding-bottom: 20px;
}

.recom-desc i {
    color: var(--first-color);
    margin-right: 25px;
}

/* Loisirs */

.icons-hobbies .container {
    display: flex;
    justify-content: space-evenly;
}

.icons-hobbies i {
    color: var(--second-color);
    border: 5px solid var(--second-color);
    border-radius: 50%;
    padding: 10px;
}
/* Responsive */


/* Fin */